/Quizz/nbproject/private/
/Quiz/nbproject/private/
/Quiz/build/
/Quiz/dist/
/TrabalhoQuiz/nbproject/private/
/Teste/nbproject/private/
/Conexao/nbproject/private/
/Conexao/build/
/Arquivos/nbproject/private/
/Arquivos/build/
/JavaJDBC/nbproject/private/
/JavaConnection/nbproject/private/
/JavaConnection/build/
/Leitor/nbproject/private/
/LeitorExcel/nbproject/private/
/LeitorExcel/build/
/Calculadora/nbproject/private/
/Calculadora/build/